@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-mist-blue text-dark-navy font-sans antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f0f4f8;
}
::-webkit-scrollbar-thumb {
  background: #cdd5e0;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4bc0c8;
}
